---
import Hero from '../sections/Hero.astro';
import Offer from '../sections/Offer.astro';
import About from '../sections/About.astro';
import Contact from '../sections/Contact.astro';
import PinnedPanelsAnimation from '../ui/PinnedPanelsAnimation.astro';
---

<PinnedPanelsAnimation />

<div id="container" class="w-full slides-wrapper">
    <main>
        <section class="section">
            <div class="section-content">
                <div class="section-inner">
                    <Contact />
                </div>
            </div>
        </section>
    </main>
</div>