---
import PinnedPanelsAnimation from '../ui/PinnedPanelsAnimation.astro';
import First from '../sections/First.astro';
---

<PinnedPanelsAnimation />

<div id="container" class="w-full slides-wrapper">
    <main>
        <section class="section">
            <div class="section-content">
                <div class="section-inner">
                    <First />
                </div>
            </div>
        </section>
    </main>
</div>