---

---

<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full py-10 pb-20 px-4 sm:px-6 lg:px-8 mx-auto bg-[#4bc8ed]">
    <!-- Grid -->
    <div class="text-center">
        <div>
            <a class="flex-none text-xl font-semibold text-foreground" href="/" aria-label="physio himmelblau">physio himmelblau</a>
        </div>
        <!-- End Col -->

        <div class="mt-2">
            <ul class="text-center">
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-muted-foreground">
                    <a class="inline-flex gap-x-2 text-sm text-muted-foreground-1 hover:text-foreground focus:outline-hidden focus:text-foreground" href="/#">
                        start
                    </a>
                </li>
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-muted-foreground">
                    <a class="inline-flex gap-x-2 text-sm text-muted-foreground-1 hover:text-foreground focus:outline-hidden focus:text-foreground" href="/#angebot">
                        angebot
                    </a>
                </li>
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-muted-foreground">
                    <a class="inline-flex gap-x-2 text-sm text-muted-foreground-1 hover:text-foreground focus:outline-hidden focus:text-foreground" href="/#ueber-mich">
                        über mich
                    </a>
                </li>
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-muted-foreground">
                    <a class="inline-flex gap-x-2 text-sm text-muted-foreground-1 hover:text-foreground focus:outline-hidden focus:text-foreground" href="/#kontakt">
                        kontakt
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Col -->

        <div class="mt-8">
            <p class="text-muted-foreground-1">
                Webseite erstellt von <a class="text-primary decoration-2 hover:underline focus:outline-hidden focus:underline font-medium" href="https://creaocchio.ch/">CreaOcchio</a>.
            </p>
        </div>
    </div>
    <!-- End Grid -->
</footer>
<!-- ========== END FOOTER ========== -->
