---

---

<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full py-10 pb-20 px-4 sm:px-6 lg:px-8 mx-auto bg-[#55c2e7]">
    <!-- Grid -->
    <div class="text-center">
        <div>
            <a class="flex-none text-xl font-semibold text-white hover:text-white/80 transition-colors" href="/"
               aria-label="physio himmelblau">Physio Himmelblau Kaufmann · </a>
            <a class="flex-none text-xl font-semibold text-white hover:text-white/80 transition-colors" href="/agb"
               aria-label="physio himmelblau">AGB · </a>
            <a class="flex-none text-xl font-semibold text-white hover:text-white/80 transition-colors"
               href="/datenschutz" aria-label="physio himmelblau">Datenschutzerklärung · </a>
            <a class="flex-none text-xl font-semibold text-white hover:text-white/80 transition-colors"
               href="/impressum" aria-label="physio himmelblau">Impressum</a>
        </div>
        <!-- End Col -->

        <!--
        <div class="mt-2">
            <ul class="text-center">
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-white">
                    <a class="inline-flex gap-x-2 text-sm text-white hover:text-white/80 transition-colors" href="/#">
                        start
                    </a>
                </li>
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-white">
                    <a class="inline-flex gap-x-2 text-sm text-white hover:text-white/80 transition-colors"
                       href="/#angebot">
                        angebot
                    </a>
                </li>
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-white">
                    <a class="inline-flex gap-x-2 text-sm text-white hover:text-white/80 transition-colors"
                       href="/#ueber-mich">
                        über mich
                    </a>
                </li>
                <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:inset-e-3 before:-translate-y-1/2 before:content-['/'] before:text-white">
                    <a class="inline-flex gap-x-2 text-sm text-white hover:text-white/80 transition-colors"
                       href="/#kontakt">
                        kontakt
                    </a>
                </li>
            </ul>
        </div>
        -->
        <!-- End Col -->

        <div class="mt-8">
            <p class="text-muted-foreground-1">
                Webseite erstellt von <a
                    class="text-primary decoration-2 hover:underline focus:outline-hidden focus:underline font-medium"
                    href="https://creaocchio.ch/" target="_blank" rel="noopener noreferrer">CreaOcchio</a>.
            </p>
        </div>
    </div>
    <!-- End Grid -->
</footer>
<!-- ========== END FOOTER ========== -->
