---
---

<div class="grid grid-cols-12 gap-4 mt-4 mb-20">
    <div class="col-span-12 md:col-span-8">
        <p class="text-lg mb-8 mt-3">
            Für Terminanfragen oder Informationen rufen Sie mich an oder senden Sie mir bitte eine Mail. Ich melde mich
            so bald wie möglich bei Ihnen zurück.
        </p>

        <h5 class="text-lg font-bold">Physio Himmelblau</h5>
        <div>
            <a>
                Praxis im Hotel Zurzacherhof <br/>
                Doktor-Martin-Erb Strasse 5 <br/>
                5330 Bad Zurzach
            </a>
        </div>

        <h5 class="text-lg font-bold mt-8">E-Mail</h5>
        <div>
            <a href="mailto:info@physio-himmelblau.ch" class="hover:underline">info@physio-himmelblau.ch</a>
        </div>

        <h5 class="text-lg font-bold mt-8">Telefon</h5>
        <div>
            <a href="tel:+41794072244" class="hover:underline">+41 79 407 22 44</a>
        </div>
    </div>

    <div class="col-span-12 md:col-span-4 mt-8 md:mt-0">
        <div class="flex flex-col gap-4 h-full">
            <div class="h-96">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.312106849021!2d8.2862671761314!3d47.588125089253474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479068e74e21c2cf%3A0xe6c5bda32db4c736!2sDr.%20Martin%20Erb-Strasse%205%2C%205330%20Bad%20Zurzach!5e1!3m2!1sde!2sch!4v1783671312911!5m2!1sde!2sch"
                        class="animate-image w-full h-full rounded-3xl" style="border:0;" allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
