---
import portrait from '../../assets/homePortrait.png';
import runner from '../../assets/oneLineRun.jpg';
import ImageCardHome from "../ui/ImageCardHome.astro";
---

<div class="grid grid-cols-12 gap-4 mt-12 mb-20">
    <div class="col-span-12 md:col-span-8">
        <ImageCardHome
            src={portrait.src}
            alt="Portrait"
            text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
        />
    </div>

    <div class="col-span-12 md:col-span-4">
        <ImageCardHome
            src={runner.src}
            alt="Runner"
            text="Deiner Gesundheit zu Liebe."
            imgClass="h-96 md:h-96"
        />
    </div>
</div>
