---
import MainLayout from "../layouts/MainLayout.astro";
import AGB from "../components/sections/AGB.astro";
---

<MainLayout title="AGB | Physio Himmelblau">
    <main class="pt-24">
        <AGB />
    </main>
</MainLayout>
